# Configuration for RR-Sendeplan
# Remember to restart rr-sendeplan whenever you make changes to this file.
# Check that the application succeeds at starting, since errors here may
# stop the application from starting.

# URL to the base of the Radio REST API
url: https://api.example.com/v2

# Number of weeks you can go back
weeks_back: 3

# Number of weeks you can go forward
weeks_forward: 2
