<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Sendeplanen til Radio Revolt</title>
        <link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='bootstrap.css') }}' />
    </head>

    <body>
        <header>
            <h2>Sendeplanen til Radio Revolt</h2>

            <h3>Velg uke (relativ til nåværende)</h3>

            <nav>
                <ul>
                    {%- for week in possible_weeks %}
                    {%- if week == rel_week %}
                    <li><b>{{week}}</b> (<a href="{{ url_for('programming_week_csv', rel_week=week) }}">Last ned som regneark</a>)</li>
                    {%- else %}
                    <li><a href="{{ url_for('programming_week', rel_week=week) }}">{{week}}</a></li>
                    {%- endif %}
                    {%- endfor %}
                </ul>
            </nav>
        </header>

        <main>
            <h3>Sendeplan</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Tid</th>
                        {%- set days = ('Mandag', 'Tirsdag', 'Onsdag', 'Torsdag', 'Fredag', 'Lørdag', 'Søndag') %}
                        {%- set months = ('januar', 'februar', 'mars', 'april', 'mai', 'juni', 'juli', 'august', 'september', 'oktober', 'november', 'desember') %}
                        {%- for i in range(7) %}
                        {%- set this_date = first_date + (i * one_day) %}
                        <th>{{ days[i] }} {{ this_date.day }}. {{ months[this_date.month - 1] }} {{ this_date.year }}</th>
                        {%- endfor %}
                    </tr>
                </thead>

                <tbody>
                    {%- for hour in hours %}
                    <tr>
                        <td>{{ "%02d" | format(loop.index0) }}:00</td>
                        {%- for day in hour %}
                        <td>{{day}}</td>
                        {%- endfor %}
                    </tr>
                    {%- endfor %}
                </tbody>
            </table>

            {%- if "Ikke tilgjengelig" in hours[1] %}
            <p>En eller flere timer i en eller flere dager mangler informasjon. Dette kan skje fordi:</p>
            <ul>
                <li>Det er ingen sending i autoavvikler som starter ved midnatt, kontakt i så fall radioteknisk.</li>
                <li>Dagen er ikke generert ennå. Den genereres når du åpner den i DigAIRange.</li>
                <li>Det er ingen Day Template som passer til dagen (du kan observere dette ved at dagen er tom når du åpner den i DigAIRange).
                    Da må radioteknisk settes på saken.</li>
            </ul>
            {%- endif %}
        </main>
    </body>
</html>
