<!DOCTYPE html>
<html>
    <head>
        <title>Sendeplanen til Radio Revolt</title>
    </head>

    <body>
        <h2>Sendeplanen til Radio Revolt</h2>

        <h3>Velg uke (relativ til nåværende)</h3>

        <nav>
            <ul>
                {% for week in possible_weeks %}
                {% if week == rel_week %}
                <li><b>{{week}}</b></li>
                {% else %}
                <li><a href="{{ url_for('programming_week', rel_week=week) }}">{{week}}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </nav>

        <table>
            <thead>
                <tr>
                    <th>Tid</th>
                    {% set days = ('Mandag', 'Tirsdag', 'Onsdag', 'Torsdag', 'Fredag', 'Lørdag', 'Søndag') %}
                    {% set months = ('januar', 'februar', 'mars', 'april', 'mai', 'juni', 'juli', 'august', 'september', 'oktober', 'november', 'desember') %}
                    {% for i in range(7) %}
                    {% set this_date = first_date + (i * one_day) %}
                    <th>{{ days[i] }} {{ this_date.day }}. {{ months[this_date.month - 1] }} {{ this_date.year }}</th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% for hour in hours %}
                <tr>
                    <td>{{ "%02d" | format(loop.index0) }}:00</td>
                    {% for day in hour %}
                    <td>{{day}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
